# Backend API URL
# Local development
# VITE_API_URL=http://localhost:3000/api/v1
# VITE_WS_URL=http://localhost:3000

# Production (Railway)
VITE_API_URL=https://ev-charging-api-production-34a9.up.railway.app/api/v1
VITE_WS_URL=https://ev-charging-api-production-34a9.up.railway.app
